header {
    position: relative;
    height: 650px;
    min-height: 500px;
    width: 100%;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    overflow: hidden;
}

header video {
    position: absolute;
    top: 50%;
    left: 49.9999%;
    z-index: -50;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    filter: brightness(40%);
}

header .banner {
    color: whitesmoke;
}

header .header-content{
    padding-top: 50px;
}