.navbar {
  box-shadow: none;
}

.navbar{z-index: 2;}
body{ background-color: #F4F4F4; }
.navegation{display: none;}
.division{display: none;}
.footer, .prefooter{ color: white; }

.footer{
	background-color: black;
	padding:10px;
}

.nav-item{
	text-align: right;
}
.prefooter{ padding: 20px; }

#profile, #nav-profile, #feed{display: none;}

.wsmoke{
	color: whitesmoke;
}
.header-title,.header-body,.header-footer{ margin-bottom: 40px;}
.dropdown-divider{
  border-top-color: rgb(44, 45, 46);
}


/**********NAVBAR**********/
.n-overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.fixed-cart{
    background-color: #1d2124;
    position: fixed;
    border: 1px solid white;
    right: 2vw;
    bottom: 5vh;
}
.n-overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.n-overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.n-overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.n-overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.nav-icon{
  font-size:30px;
  cursor:pointer;
  display: block;
  text-align: right;
}
/*************/

.login-error-close:hover{
  cursor: pointer;
}
.small-forgot-password{
    padding-bottom: 5px;
}

.input-password{
    margin-bottom: 10px;
    color:dimgrey;
}

.p-user{
    font-size: 35px;
}

.dropdown-item:hover{
    background-color: #1a2129;
}
