@media only screen and (max-width: 990px){
    #separator{
        display: none;}
    .nav-sm-center{ text-align: center;}
}
@media only screen and (max-width: 768px){
    #welcome-message{
      display: none;
    }
}
@media only screen and (max-width: 480px){
    header .header-content{
        padding-top: 0px;
    }
    header .xs-padding-top{
        padding-top: 60px;
    }
}
